* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 90px; }

h3 {
  font-size: 40px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

p {
  font-size: 17px; }

.grid {
  width: 1170px;
  margin: 0 auto; }

.hero {
  min-height: 100vh;
  background-image: url("../img/hero-bg.png"); }
  .hero__title {
    margin-bottom: 30px; }
  .hero__description {
    width: 30%;
    margin-bottom: 30px; }
  .hero__btn {
    padding: 20px 27px;
    font-size: 20px;
    color: #fff;
    background-color: #ff6033;
    border: none; }
  .hero__link--position {
    position: absolute;
    left: 50%;
    bottom: 60px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin-bottom: 240px; }
  .header__logo {
    font-family: "Pacifico", cursive;
    font-size: 50px; }
  .header__item {
    display: inline-block; }
    .header__item:not(:last-child) {
      margin-right: 35px; }
  .header__link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #262626; }
    .header__link:hover {
      padding-top: 9px;
      border-top: 3px solid #ff6033; }
    .header__link--active {
      padding-top: 9px;
      border-top: 3px solid #ff6033; }

.about {
  background-image: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: 180px center;
  background-color: #00b9b9; }
  .about__title {
    padding-top: 175px;
    padding-left: 670px;
    color: #fff; }
  .about__description {
    padding-left: 670px;
    padding-bottom: 25px;
    font-size: 17px;
    line-height: 28px;
    color: #fff; }
    .about__description--bottom {
      padding-bottom: 260px; }

.product {
  background-color: #70bfff;
  background-image: url("../img/tomata.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-x: 70%; }
  .product__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-top: 180px;
    padding-bottom: 150px; }
  .product__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .product__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    border: none; }
    .product__btn:not(:last-child) {
      margin-bottom: 20px; }
  .product__description {
    display: inline-block;
    width: 300px;
    height: 100px;
    padding: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20px; }
  .product__separator {
    width: 99px;
    height: 100px;
    padding: 20px;
    border-left: 1px solid #262626; }
  .product__title {
    color: #fff; }

.galery {
  background-color: #ffe92f; }
  .galery__title {
    margin-bottom: 45px;
    padding-top: 100px; }
  .galery__description {
    margin-bottom: 50px;
    line-height: 27px; }
  .galery__img {
    margin-bottom: 20px; }
  .galery__row {
    margin-bottom: 45px; }
  .galery__link {
    padding: 20px 45px;
    font-size: 20px;
    color: #fff;
    background-color: #5585a2; }
  .galery__down {
    padding-bottom: 120px; }

.subscribe {
  background-image: url("../img/bg-yagodi.png");
  background-repeat: no-repeat;
  background-position: center; }
  .subscribe__title {
    padding-top: 140px;
    margin-bottom: 35px; }
  .subscribe__description {
    margin-bottom: 35px; }
  .subscribe__form {
    padding-bottom: 160px; }
  .subscribe__email {
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding: 20px; }
  .subscribe__btn {
    width: 100%;
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #96b92c; }

.blog {
  background-color: #b07cf7;
  color: #fff; }
  .blog__title {
    margin-bottom: 45px;
    padding-top: 100px; }
  .blog__description {
    margin-bottom: 50px;
    line-height: 27px; }
  .blog__row {
    margin-bottom: 65px; }
  .blog__item-smozi {
    background-image: url("../img/blog1.png");
    background-repeat: no-repeat; }
  .blog__item-soup {
    background-image: url("../img/blog2.png");
    background-repeat: no-repeat; }
  .blog__item-strobery {
    background-image: url("../img/blog3.png");
    background-repeat: no-repeat; }
  .blog__date {
    display: inline-block;
    width: 15%;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 900;
    border-radius: 5px;
    background-color: #262626; }
  .blog__eat {
    display: block;
    padding-top: 119px;
    padding-right: 10px;
    padding-left: 20px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700; }
  .blog__auskteez {
    display: inline-block;
    margin-bottom: 24px;
    padding-left: 20px;
    font-size: 13px; }
  .blog__link {
    padding: 20px 45px;
    font-size: 20px;
    color: #fff;
    background-color: #f72b3b; }
  .blog__down {
    padding-bottom: 120px; }
