//font-family
$pacifico:  'Pacifico', cursive;
$releway:  'Raleway', sans-serif;

//colors

$orange: #ff6033;
$dark: #262626;
$aqua: #00b4b4;
$aqua-m: #00c4c4;
$light-blue: #70bfff;
$middle-blue: #5585a2;
$yellow: #ffe92f;
$green: #96b92c;
$purple: #b07cf7;
$sexy-red: #f72b3b;
$light-aqua: #00b9b9;
$white: #fff;


//ways

$way-to: '../img/';