.header {

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    margin-bottom: 240px;

    &__logo {
        font-family: $pacifico;
        font-size: 50px;
    }

    &__nav {

    }

    &__item{
        display: inline-block;

        &:not(:last-child) {
            margin-right: 35px;
        }
    }

    &__link {
        font-family: $releway;
        font-weight: 700;
        font-size: 16px;
        color: $dark;

        &:hover{
            padding-top: 9px;
            border-top: 3px solid $orange; 
        }
        

        &--active {
            padding-top: 9px;
            border-top: 3px solid $orange;
        }

    }

}