.hero {

    min-height: 100vh;
    background-image: url('#{$way-to}hero-bg.png');

    &__title {
        margin-bottom: 30px;
    }

    &__description {
        width: 30%;
        margin-bottom: 30px;
    }

    &__btn{
        padding: 20px 27px;
        font-size: 20px;
        color: #fff;
        background-color: $orange;
        border: none;
    }

    &__link{

        &:hover{

        }

        &--position{
            position: absolute;
            left: 50%;
            bottom: 60px;
        }
    }

}